<launch>
   <arg 
    name="record_rosbag" 
    default = "false"
   />
   <arg 
    name="rosbag_name" 
    default = "chatter"
   />
   <node pkg="cpp_pubsub" exec="talker" name="sim" />
   <executable cmd="ros2 bag record -a --output src/cpp_pubsub/$(var rosbag_name)" output="screen" if = "$(var record_rosbag)"/>
 
</launch>