name: Gazebo ros2 control CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:galactic-desktop
    steps:
    - uses: actions/checkout@v3
    - name: Setup colcon workspace
      id: configure
      run: |
        cd ..
        mkdir -p /home/ros2_ws/src
        cp -r test1 /home/ros2_ws/src/
        apt-get update && apt-get upgrade -q -y
        apt-get update && apt-get install -q -y --no-install-recommends \
          dirmngr \
          gnupg2 \
          lsb-release \
          python3-colcon-ros
        cd /home/ros2_ws/src/
        rosdep update
        rosdep install --from-paths ./ -i -y --rosdistro galactic \
          --ignore-src
    - name: Build project
      id: build
      run: |
        cd /home/ros2_ws/
        source /opt/ros/galactic/local_setup.sh
        colcon build --packages-select cpp_pubsub

    - name: Unit tests
      run: |
        sudo apt install -y lcov
        
    - name: Coveralls setup
      run: |  
        cd /home/ros2_ws
        source /opt/ros/galactic/local_setup.sh
        colcon build --cmake-args -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS} --coverage" -DCMAKE_C_FLAGS="${CMAKE_C_FLAGS} --coverage"
        lcov --no-external --capture --initial --directory . --output-file /home/ros2_ws/ros2_base.info
        colcon test --packages-select test1
        lcov --no-external --capture --directory . --output-file /home/ros2_ws/ros2.info
        lcov --add-tracefile ${{github.workspace}}/ros2_base.info --add-tracefile /home/ros2_ws/ros2.info --output-file /home/ros2_ws/ros2_coverage.info
        mkdir -p coverage
        genhtml /home/ros2_ws/ros2_coverage.info --output-directory coverage

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: /home/ros2_ws/coverage.info
